*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-color: #1e1e1e;
}
.box 
{
    max-width:80rem;
    height: auto;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card 
{
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img 
{
    width: 100%;
    height: 20rem;
}
.box_carrito 
{
    width: 50rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.itemCarrito 
{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
}
.titulo_carrito 
{
    width: 50rem;
    height: 3rem;
    margin: 0 auto;
    background-color: #ffffff;
}
.titulo_carrito h2 
{
    text-align: center;
}
.importe 
{
    width: 50rem;
    height: 8rem;
    margin: 0 auto;
    background-color: #ffffff;
}